* {
  margin:15px;
}

html {
  padding:5rem;
  display:flex;
  justify-content:space-around;
}

body {
  min-height: 100vh;
  width: 80%;
  margin:auto;
}

h1{
  margin: 4%;
}

ul{
  display: flex;
  list-style: none;
  flex-direction: column;
}

button{
  background-color: inherit;
  border: solid;
  border-radius: 10px;
  padding: 5px 8px;
  margin:5px !important;
}

button:hover{
  background-color: black;
  color: white;
  border: solid;
}

.square{
  color: white;
  padding-top: 15px;
  text-align: center;
  margin: 1%;
  background-color: black;
  width: 55px;
  height: 40px;

}

input, select {
  width:10rem;
}



html {
    background: linear-gradient(270deg, #92f5dc, #92b7f5, #de92f5);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
